        <!-- Colors -->
        <section class="example top-margin-20 page-section" id="colors">
            <a name="colors" class="section"></a>
            <h2>Color &amp; Typography</h2>
            <p class="body">
                Our application color and typography should be consistent not only for 
                user heuristics and a uniform and comfortable experience, but to maintain our 
                brand in everything we do.
            </p>
            <h3>Color Swatches</h3>
            <div class="row top-padding-10">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#007db6"></div>
                                <div class="pull-right dark" style="background-color:#006391"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Juniper</h4>
                                <p>#007db6, #006391</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#b94f3c"></div>
                                <div class="pull-right dark" style="background-color:#933e2f"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Maple</h4>
                                <p>#b94f3c, #933e2f</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#2ba02b"></div>
                                <div class="pull-right dark" style="background-color:#227f22"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Apple</h4>
                                <p>#2ba02b, #227f22</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#ab51c4"></div>
                                <div class="pull-right dark" style="background-color:#88409c"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Sweetpea</h4>
                                <p>#ab51c4, #88409c</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#d1712d"></div>
                                <div class="pull-right dark" style="background-color:#a65a23"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Grapefruit</h4>
                                <p>#d1712d, #a65a23</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#359fa3"></div>
                                <div class="pull-right dark" style="background-color:#2a7e81"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Evergreen</h4>
                                <p>#359fa3, #2a7e81</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#d6a70e"></div>
                                <div class="pull-right dark" style="background-color:#aa850b"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Poplar</h4>
                                <p>#d6a70e, #aa850b</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#484848"></div>
                                <div class="pull-right dark" style="background-color:#383838"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Ash</h4>
                                <p>#484848, #383838</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#787878"></div>
                                <div class="pull-right dark" style="background-color:#686868"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Wormwood</h4>
                                <p>#787878, #686868</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#a8a8a8"></div>
                                <div class="pull-right dark" style="background-color:#989898"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Heart</h4>
                                <p>#a8a8a8, #989898</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="color-swatches">
                        <div class="swatches">
                            <div class="clearfix">
                                <div class="pull-left light" style="background-color:#f9f9f9"></div>
                                <div class="pull-right dark" style="background-color:#e7e7e7"></div>
                            </div>
                            <div class="infos">
                                <h4 class="sans-font">Aspen</h4>
                                <p>#f9f9f9, #e7e7e7</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Typography</h3>
            <p class="body">
                We use two font families in our brand and application: <strong>Signika</strong> is 
                used in our logo and for headings/headers and <strong>Lucida Grande</strong> is 
                used for all regular copy, body content, and plain text. We never use any other 
                fonts anywhere in the application&mdash;you <strong>only</strong> have access 
                to these two fonts :)
            </p>
<pre class="codeblock">
<code class="html prettyprint">font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", 
    Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

font-family: Signika, "Trebuchet MS", Tahoma, Verdana, Arial, 
    Helvetica, sans-serif;</code></pre>
            <h3 class="top-margin-15">Headings</h3>
            <p>
                Our first- and second-level headings (<code>&lt;h1&gt; and &lt;h2&gt;</code>) are 
                always set in Signika. Rarely should you ever need to overload one of these 
                headings to change the font to Lucida. Use <code>&lt;h1&gt;</code> headings 
                only for titles on specific documents and printouts, not for any 
                application screen. Use <code>&lt;h2&gt;</code> headings for titles at the 
                top of an application screen or report.
            </p>
            <p class="body">
                Other headings may be used as needed. Generally, use <code>&lt;h3&gt;</code> 
                headings for subsections on a screen, fieldsets, top level framework domains, 
                or questions inside of an Eagle form. Use <code>&lt;h4&gt;</code> headings for 
                titles or captions on a smaller target section or component. <code>&lt;h5&gt;</code>
                and <code>&lt;h6&gt;</code> are free-for-all headings to be used at your 
                whimsy.
            </p>
            <h3>Body Text</h3>
            <p class="body">
                Normal application text is 15px Lucida in #333 with a 20/14 line height. Generate
                this by applying the class <code>.body</code> to the <code>&lt;p&gt;</code> 
                elements that contain body text. These paragraphs are examples of this text. 
                You should rarely set base application text to less than 15px; we need to 
                maintain this size for readability with our userbase.
            </p>
            <h3>Setting Font Attributes</h3>
            <p class="body">
                Often you will need to manually set certain font attributes&mdash;face, weight, 
                size, style, case, etc. Use the following targeted classes to set these 
                attributes on the element. We do not create custom classes for these attributes 
                in our LESS/CSS files, we string them inside of an element's class attribute 
                in the markup.
            </p>
            <table class="table table-striped top-margin-25">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Class Name</th>
                        <th>Effect</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Face</td>
                        <td><code>.sans-font</code></td>
                        <td>Sets the element's font-family to our Lucida stack</td>
                    </tr>
                    <tr>
                        <td>Face</td>
                        <td><code>.serif-font</code></td>
                        <td>Sets the element's font-family to our Signika stack (yes I know it's not serif!)</td>
                    </tr>
                    <tr>
                        <td>Line Height</td>
                        <td><code>.lineheight-1-*</code>&nbsp;</td>
                        <td>Sets the line-height to 1.*em; use 5, 6, 7, or 8.</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td><code>.color-*</code></td>
                        <td>Sets the font color; use: <span class="color-blue">blue</span>, <span class="color-red">red</span>, <span class="color-green">green</span>, <span class="color-purple">purple</span>, <span class="color-yellow">yellow</span>, <span class="color-orange">orange</span>, <span class="color-teal">teal</span>, <span class="color-gray">gray</span>, <span class="color-darkgray">darkgray</span>, <span class="color-seven">seven</span>, <span class="color-five">five</span>, and <span class="color-white heart-background">&nbsp;white&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td><code>.bold-weight</code></td>
                        <td>Make the text bold; consider using <code>&lt;strong&gt;</code> instead</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td><code>.normal-weight</code></td>
                        <td>Sets the text in normal weight (non-bold)</td>
                    </tr>
                    <tr>
                        <td>Style</td>
                        <td><code>.italicize</code></td>
                        <td>Sets the text in italics; consider using <code>&lt;em&gt;</code> instead</td>
                    </tr>
                    <tr>
                        <td>Spacing</td>
                        <td><code>.nowrap</code></td>
                        <td>Removes line-wrapping (the line will not break)</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td><code>.*-text</code></td>
                        <td>Sets the font-size to 11px (<code>.xs-text</code>), 13px (<code>.sm-text</code>), 15px (<code>.md-text</code> or <code>.body-text</code>), or 17px (<code>.lg-text</code>)</td>
                    </tr>
                    <tr>
                        <td class="nowrap">Text Shadow&nbsp;</td>
                        <td><code>.text-shadow()</code></td>
                        <td>Use this mixin to add a text shadow; arguments are horizontal offset, vertical offset, blur, and color (all must be present)</td>
                    </tr>
                    <tr>
                        <td class="nowrap">Case</td>
                        <td><code>.uppercase</code></td>
                        <td>Sets the text entirely in uppercase</td>
                    </tr>
                </tbody>
            </table>
            <p class="body">
                We don't underline text in the application; if you need to apply an emphasis 
                make it bold and/or increase the font size or color. We also have components for 
                calling text out, such as the <code>.alert</code> boxes.
            </p>
        </section>
